1. H3 Collect Telemetry Node Red.txt
[{"id":"44378c4c.c1f4bc","type":"tcp request","z":"e0ae5e3b.1f9ad8","server":"","port":"3334","out":"sit","splitc":"0","name":"","x":332.5,"y":96.19999694824219,"wires":[["57a1ca3f.19b05c"]]},{"id":"a142236e.0a9b2","type":"ibmiot out","z":"e0ae5e3b.1f9ad8","authentication":"apiKey","apiKey":"39fbe881.9a28c8","outputType":"evt","deviceId":"H3Drone1","deviceType":"H3Drone","eventCommandType":"telemetry","format":"json","data":"\"Hello\"","qos":0,"name":"H3Drone IoT","service":"registered","x":839.5000610351562,"y":405.4000244140625,"wires":[]},{"id":"cc179f9c.332f38","type":"debug","z":"e0ae5e3b.1f9ad8","name":"","active":true,"console":"false","complete":"false","x":835.5,"y":488.4000244140625,"wires":[]},{"id":"57a1ca3f.19b05c","type":"function","z":"e0ae5e3b.1f9ad8","name":"Clean Input","func":"var tempStr =  msg.payload.toString();\n\ntempStr = tempStr.replace(/[^a-zA-Z0-9^{^}^\"^.^:^ ]/g,'');\ntempStr = tempStr.replace(/ \"/g,'\\,\\\"');\ntempStr = tempStr.replace('{,','{');\ntempStr = tempStr.replace(':,',':');\n\n//msg.payload = JSON.parse(tempStr);\nmsg.payload = tempStr;\n\nreturn msg;","outputs":1,"noerr":0,"x":237.5,"y":329.4000244140625,"wires":[["f438a3e8.ebf8b"]]},{"id":"f438a3e8.ebf8b","type":"json","z":"e0ae5e3b.1f9ad8","name":"","x":391.5,"y":329.60003662109375,"wires":[["532ff0ed.3de54"]]},{"id":"532ff0ed.3de54","type":"function","z":"e0ae5e3b.1f9ad8","name":"Parse GPS Data","func":"var droneLon = msg.payload.droneLon;\nvar droneLat = msg.payload.droneLat;\n\nif (droneLon !== 0 && droneLat !== 0)\n    msg.payload.gps = droneLat + \",\" + droneLon;\n\nreturn msg;","outputs":1,"noerr":0,"x":369.20001220703125,"y":461.2000274658203,"wires":[["a3b2dcc6.774a68"]]},{"id":"a3b2dcc6.774a68","type":"function","z":"e0ae5e3b.1f9ad8","name":"Parse Data","func":"var windSpeed = msg.payload.windSpeed;\nvar batteryPercent = msg.payload.batteryPercent;\n\nif (windSpeed === 0)\n    msg.payload.windSpeed = Math.floor(Math.random() * (15 - 14 + 1) + 12);\n\nif (batteryPercent === 0)\n    msg.payload.batteryPercent = 100;\n\nvar now = new Date();\nvar iDay = now.getDate();\nif (iDay < 10)\n    iDay = \"0\" + iDay;\n    \nvar iMonth = now.getMonth() + 1;\nif (iMonth < 10)\n    iMonth = \"0\" + iMonth;\n\nvar iFullYear = now.getFullYear();\n\nvar iHours = now.getHours();\nif (iHours < 10)\n    iHours = \"0\" + iHours;\n\nvar iMinutes = now.getMinutes();\nif (iMinutes < 10)\n    iMinutes = \"0\" + iMinutes;\n\nvar iSeconds = now.getSeconds();\nif (iSeconds < 10)\n    iSeconds = \"0\" + iSeconds;\n\nvar tempTimestamp = iDay + '/' +\n            iMonth + '/' +\n             iFullYear + \" \" +\n             iHours + ':' +\n             iMinutes + ':' +\n             iSeconds;\nmsg.payload.timestamp = tempTimestamp;\n\nvar indexTimestamp = iFullYear + iMonth + iDay +\n    '_' + iHours + iMinutes + iSeconds;\nmsg.payload._id = indexTimestamp + '_' + 'Dronebox' + \n    '_' + msg.payload.droneboxID;\n\nreturn msg;","outputs":1,"noerr":0,"x":577.2000732421875,"y":460.2000427246094,"wires":[["cc179f9c.332f38","a142236e.0a9b2"]]},{"id":"b776b466.febea8","type":"inject","z":"e0ae5e3b.1f9ad8","name":"Start","topic":"","payload":"{\"droneboxID\":5, \"command\":\"NOP\"}","payloadType":"str","repeat":"","crontab":"","once":false,"x":111.44999694824219,"y":98.68333435058594,"wires":[["44378c4c.c1f4bc"]]},{"id":"39fbe881.9a28c8","type":"ibmiot","z":"","name":"H3Drone","keepalive":"60","cleansession":true,"appId":"","shared":false}]